*.o
Debug/
Release/
x64/Debug
x64/Release
Intermedia/
*.sdf
ipch/
*.suo
*_c.c
*_s.c
*_h.h
*_i.c
*_i.h
*_p.c
*.opensdf
*.aps
*.tlb
obj/
objchk_*/
objfre_*/
*.obj
*.swp
*.exe
LunaBox-*.tar.gz
LunaBoxSetup-*.msi
log4cplus-server/LunaBox.log
lib/Debug.bak.rar
TestTar.tar
TestTar2.tar
UnitTests/DataArk.log
UnitTests/TestTar.tar
UnitTests/TestTar2.tar
UnitTests/TestUnTar2/
UnitTests/log4cplus.properties
*.msi
*.log
AppData/
SetupWin32/zisync-windows-win32.msi
SetupX64/zisync-windows-x64.msi
